build
out
.cache
.idea
.vs
.vscode

# Disable assets folder for now, its not in use.
resources/assets

# Disable most sounds
resources/sounds/music/*.wav
resources/sounds/music/*.ogg
resources/sounds/music/*.mp3

# Allow music my game uses.
!resources/sounds/music/space_dungeon_bpm100.mp3
!resources/sounds/music/space_dungeon_bpm100.ogg

# Doxygen extras
html/
latex/